<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../includes/head.ejs%>
    <script>
        _checkPassword = () => {
            var companyNo = <%=company.companyNo%>;
            var f = document.getElementById("updatePasswordCheckForm");
            if(typeof f.password == "undefined" || f.password == null || f.password == ""){
                alert("비밀번호를 입력해주세요.");
                f.password.focus();
                return;
            }
            f.submit();
        }
        _updateCompany = () => {
        }
    </script>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <% include ../includes/sidebar.ejs%>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <% include ../includes/nav.ejs %>
        <!-- Begin Page Content -->
        <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">기업 상세</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">회사명</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=company.companyName%></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">사업자등록번호</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=company.companyRegistrationNumber%></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">대표자명</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=company.companyRepresentativeName%></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">아이디</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=company.companyId%></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">우편번호</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=company.companyPostcode%></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">주소</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=company.companyAddress + " " + company.companyAddressDetail%></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">API 키</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=company.companyApiKey%></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">API Secret</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=company.companyApiSecret%></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <a class="btn btn-primary btn-user btn-block" href="#" data-toggle="modal" data-target="#checkPassword">
                                        비밀번호 변경
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <a href="javascript:_updateCompany()"
                                        class="btn btn-primary btn-user btn-block">
                                        기업정보 변경
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
          <!-- Logout Modal-->
        <div class="modal fade" id="checkPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">비밀번호를 입력해주세요.</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="user" id="updatePasswordCheckForm" method="POST" action="/company/updatePasswordCheck">
                            <div class="col-sm-15 mb-3 mb-sm-0">
                                <input type="password" id="password" name="password" class="form-control form-control-user" placeholder="비밀번호 입력">
                                <input type="hidden" name="companyNo" value="<%=company.companyNo%>"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                        <a class="btn btn-primary" href="javascript:_checkPassword();">확인</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <% include ../includes/footer.ejs%>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<% include ../includes/logoutModal.ejs%>

<% include ../includes/bottomScripts.ejs%>

<!-- Page level custom scripts -->
<script>
</script>

</body>

</html>